<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h2><span class='glyphicon glyphicon-comment'></span>POSTS</h2>
      </div>
      <div class="col-md-8">
        <h5><span class='glyphicon glyphicon-cloud-upload'></span> Publish</h5>
        <h5><span class='glyphicon glyphicon-tag'></span> Set tag</h5>
        <h5><span class='glyphicon glyphicon-star'></span> Archive</h5>
        <h5><span class='glyphicon glyphicon-ok'></span> Approve</h5>
        <h5><span class='glyphicon glyphicon-remove'></span> Delete</h5>
        <h5 class='pull-right'><span class='glyphicon glyphicon-remove-sign'></span></h5>
        <h5 class='pull-right'><span class='glyphicon glyphicon-plus'></span></h5>
        <h5 class='pull-right'><span class='glyphicon glyphicon-th-large'></span>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <aside class="col-md-4"></aside>
  <section class="col-md-8">

  </section>
</div>